$primary: hsl(246, 80%, 60%);
$work: hsl(15, 100%, 70%);
$play: hsl(195, 74%, 62%);
$study: hsl(348, 100%, 68%);
$exercise: hsl(145, 58%, 55%);
$social: hsl(43, 84%, 65%);
$selfcare: hsl(43, 84%, 65%);
$Very-dark-blue: hsl(226, 43%, 10%);
$Dark-blue: hsl(235, 46%, 20%);
$Desaturated-blue: hsl(235, 45%, 61%);
$Pale-Blue: hsl(236, 100%, 87%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: hsl(0, 0, 100%);
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // gap: 1rem;
  background-color: $Very-dark-blue;
}

.active {
  color: white;
}

.left-col {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  height: 70vh;
  width: 20%;
  border-radius: 0.5rem;
  background-color: $Dark-blue;
}

.user-info {
  height: 45vh;
  background-color: $primary;
  border-radius: 0.5rem;
  padding: 1em;
  // display: none;
}

.user-info p {
  margin-top: 1rem;
  font-size: 12px;
  color: rgb(240, 240, 240);
}

.user-info h3 {
  margin-bottom: 1rem;
  font-size: 3vw;
}

.user-info img {
  max-width: 40%;
  height: auto;
  border: 2px solid hsl(0, 0, 100%);
  border-radius: 50%;
}

.duration-filter {
  padding: 0 1rem;
  color: $Desaturated-blue;
  height: 20vh;
}

ul,
li {
  list-style-type: none;
  margin: 1rem 0;
  color: $Desaturated-blue;
}

li:hover {
  color: white;
  cursor: pointer;
}
.right-col {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  height: 70vh;
}
.card-container {
  height: 35vh;
  width: 20vw;
  min-width: 15vw;
  padding: 0 0 01rem 1rem;
}

.activity-icon {
  height: 10vh;
  border-radius: 0.5rem;
  background: url("../img/icon-work.svg") no-repeat;
  background-position: right;
  background-color: $work;
  display: block;
}

.activity-card {
  background-color: $Dark-blue;
  border-radius: 0.5rem;
  position: relative;
  top: -5vh;
  padding: 1rem;
  height: 28vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.activity-card:hover {
  background-color: $Desaturated-blue;
}
.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.activity-title {
  font-size: 1rem;
  font-weight: 500;
  color: white;
}

.icon-ellipsis {
  background: transparent;
  border: none;
}

.icon-ellipsis:hover {
  cursor: pointer;
}

.current {
  font-size: 32px;
}

.last {
  font-size: 12px;
  color: $Pale-Blue;
}

/* Media Query for Devices below (768px = Tablet-Portrait)  */
@media screen and (max-width: 767px) {
  .App {
    flex-direction: column;
  }
  .left-col {
    // flex-direction: row;
    width: 100%;
    height: auto;
  }

  .user-info {
    display: flex;
  }
}
// ### Neutral

// - Very dark blue: hsl(226, 43%, 10%)
// - Dark blue: hsl(235, 46%, 20%)
// - Desaturated blue: hsl(235, 45%, 61%)
// - Pale Blue: hsl(236, 100%, 87%) */
